<hr>
<div class="container">

    <h2>About MooN</h2>

    <div>
        <ul>
            <h5>
                <li><a href="#history">History</a></li>
                <li><a href="#motto"> Motto</a></li>
                <li><a href="#characteristics">Characteritics</a> </li>
                <li><a href="#faculty"> Faculty</a></li>
            </h5>
        </ul>
    </div>
    <div>
        <h4 id="history">History</h4>
        <p>A school is an educational institution designed to provide learning spaces and learning environments for
            the teaching of students under the direction of teachers. Most countries have systems of formal
            education, which is sometimes compulsory.[2] In these systems, students progress through a series of
            schools. The names for these schools vary by country (discussed in the Regional terms section below) but
            generally include primary school for young children and secondary school for teenagers who have
            completed primary education. An institution where higher education is taught, is commonly called a
            university college or university.</p>
        <p>In addition to these core schools, students in a given country may also attend schools before and after
            primary (elementary in the U.S.) and secondary (middle school in the U.S.) education. Kindergarten or
            preschool provide some schooling to very young children (typically ages 3–5). University, vocational
            school, college or seminary may be available after secondary school. A school may be dedicated to one
            particular field, such as a school of economics or dance. Alternative schools may provide nontraditional
            curriculum and methods.</p>
        <p>Non-government schools, also known as private schools,[3] may be required when the government does not
            supply adequate or specific educational needs. Other private schools can also be religious, such as
            Christian schools, gurukula (Hindu schools), madrasa (Arabic schools), hawzas (Shi'i Muslim schools),
            yeshivas (Jewish schools), and others; or schools that have a higher standard of education or seek to
            foster other personal achievements. Schools for adults include institutions of corporate training,
            military education and training and business schools.</p>
        <p>Critics of school often accuse the school system of failing to adequately prepare students for their
            future lives,[4] of encouraging certain temperaments while inhibiting others,[5] of prescribing students
            exactly what to do, how, when, where and with whom, which would suppress creativity,[6] and of using
            extrinsic measures such as grades and homework, which would inhibit children's natural curiosity and
            desire to learn.[7]</p>
        <p>In homeschooling and distance education, teaching and learning take place independent from the
            institution of school or in a virtual school outside a traditional school building, respectively.
            Schools are organized in several different organizational models, including departmental, small learning
            communities, academies, integrated, and schools-within-a-school.</p>
    </div>


    <div>
        <h4 id="motto"> Motto</h4>
        <h6>School Motto: After establishing yourself, help establish others</h6>
        <p>The School Motto ‘After establishing yourself, help establish others’ is adopted from Yong Ye, The
            Analects of Confucius. The School Motto clearly states as our education principle the importance in
            building up a student's character, through the balanced development of the five fundamental qualities:
            virtue, wisdom, physicality, gregariousness, and aesthetics. The School Motto also states that it is the
            duty of our students to care about the development of others, the society and the world at large.</p>
    </div>


    <div>
        <h4 id="characteristics">Characteritics</h4>
        <ul>
            <li>
                <h6> Focus on Learning and Teaching; Develops School-Based Curricula</h6>
                <p>Teaching is always conducted with learning at heart, and school-based curricula are implemented
                    to cater to the requirements of the changing society. Liberal Studies has been taught to the
                    junior forms for over ten years, with an emphasis on enquiry learning, whereby the students'
                    developments in multiple dimensions can be adequately nourished. In addition, the Chinese
                    Department received a Certificate of Merit under the Chief Executive's Award for Teaching
                    Excellence in 2004 for its Higher-Order Thinking Skills Programme. The English Department also
                    implemented Task-Based Learning, which is aimed at creating an environment that encourages
                    students to practise and apply the language skills.</p>

            </li>
            <li>
                <h6>School-based Policy on Medium of Instruction</h6>
                <p>For over several consecutive years students taken in by the School have been from Band 1. Under
                    the fine-tuned MOI framework stipulated from EDB, EMI has been adopted in subjects of both
                    junior and senior secondary levels with the fulfillment of “student ability” criterion,
                    teachers’ capability in teaching in the English medium and school support measures since 2010.
                </p>
            </li>
            <li>
                <h6>Enriched Learning Experience for Multi-Disciplinary Growth</h6>
                <p>All junior-form students participate in the One Sport One Art One Service for Life Programme
                    where the students' potentials in non-academic areas can be more fully exploited. In addition,
                    the implementation of project learning in all subjects greatly enhances the students'
                    self-learning, collaborative, expressive, analytical skills, critical thinking, and creative
                    powers, among other skill areas. To broaden the students' horizons, regular field trips and
                    study tours (both local and overseas) are regularly organized.</p>
            </li>
        </ul>
    </div>
</div>