<form #userForm="ngForm" (ngsubmit)="onSubmit(userForm)">
    <h1 class="loginH1">Log-in</h1>
    <label class="control-label col-md-3">Username</label>
    <div class="col-md-9">
      <input
        type="text"
        class="form-control"
        name="username"
        placeholder="username" #username="ngModel"
        [class.is-invalid]="username.invalid && username.touched"
        [(ngModel)]="login.name" required
      />
      <small class="text-danger" [class.d-none]="username.valid || username.untouched">UserName required</small>
    </div>
    <label class="contol-label col-md-3">Password</label>
    <div class="col-md-9">
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="password"
        #password="ngModel"
        id="pwd"
        [class.is-invalid]="password.invalid && password.touched"
         required [(ngModel)]="login.pwd"
      />
      <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password required</small>
    </div>
    <div class="btn">
      <a herf="#">
        <button type="submit" [disabled]="userForm.form.invalid" class="btn btn-info" >Login</button>
      </a>
    </div>
  </form>
