<div class="container-fluid">
  <h1>Registration Form</h1>

  <form #userForm="ngForm">
    {{userForm.value|json}}
    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" pattern="[a-zA-Z'-'\s]*" required
        [class.is-invalid]="name.invalid && name.touched" name="username" #name="ngModel" [(ngModel)]="user.username">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name required</small>
    </div>

    <div class="form-group">
      <label>email:</label>
      <input type="email" class="form-control" pattern="[a-z0-9]+@[a-z]+\.[a-z]{2,3}" 
      [class.is-invalid]="email.invalid && email.touched" required #email="ngModel" name="email" [(ngModel)]="user.email">
      <div *ngIf="email.errors && (email.invalid || email.touched)">
        <small class="text-danger" *ngIf="email.errors['required']">Email required

        </small>
        <small class="text-danger" *ngIf="email.errors['pattern']">Enter valid mail-id

        </small>
      </div>
    </div>

    <div class="form-group">
      <label>phone:</label>
      <input type="tel" class="form-control" #phone="ngModel" pattern="^\d{10}$"
        [class.is-invalid]="phone.invalid && phone.touched" name="phone" [(ngModel)]="user.phone" required>
      <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
        <small class="text-danger" *ngIf="phone.errors['required']">phone number is required

        </small>
        <small class="text-danger" *ngIf="phone.errors['pattern']">phone number must be 10 digits

        </small>
      </div>
    </div>

    <div class="form-group">
      <label>Iam interested in:</label>
      <select [class.is-invalid]="topic.invalid && topic.touched" required class="custom-select" name="topic" [(ngModel)]="user.topic" #topic="ngModel">
        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
      <small class="text-danger" [class.d-none]="topic.valid || topic.untouched">Choose a topic</small>
    </div>
    <div class="mb-3">
      <label>time preference</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="time" value="morning" [(ngModel)]="user.time">
        <label class="form-check-label">Morning</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="time" value="evening" [(ngModel)]="user.time">
        <label class="form-check-label">Evening</label>
      </div>
    </div>
    <div class="from-check mb-3">
      <input class="form-check-input" type="checkbox" name="update" [(ngModel)]="user.update">
      <label class="form-check-label">
        send me updates
      </label>
    </div>
    <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit"> submit</button>
  </form>
</div>