<h1>WELCOME</h1>
<h3>This is a Home Component</h3>
<h5>adding people to the backend database server</h5>
<div>
    <div>
        <label>Id: </label>
        <input type="text" [(ngModel)]="person.id" />
      </div>
    <div>
      <label>Name: </label>
      <input type="text" [(ngModel)]="person.name" />
    </div>
    <div>
      <button (click)="addPerson()">Add</button>
    </div>
  </div>
   
  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let people of people;">
        <td>{{people.id}}</td>
        <td>{{people.name}}</td>
      </tr>
    </tbody>
  </table>
