<div class="cards">
    <div *ngFor="let product of products" class="card">
        <div class="productHolder">
            
                <p>{{product.id}}</p>

                <p><a [routerLink]="['/products',product.id]"><img class="card-img-top" src="{{product.image}}" /> </a> </p>
                
            
        
            <!--<div class="cardText">
                <p class="categoryText">{{product.description}}</p>
                <h2 class="brandText">{{product.brand}}</h2>
                <p class="priceText">{{product.price}}</p>
            </div>
        -->
        </div>
    </div>
</div>